@charset "utf-8";
/* CSS Document */

.fl {
    width:16%;
    float:left;
    margin-top:5px;
    margin-left:10px;
}
.fl a {
    background:#444;
    border: 1px solid #343434;
    border-radius: 3px;
    color: #fff;
    float: left;
    font-size: 16px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 65px;
}
.fc {
    width:60%;
    text-align:center;
    float:left;
}
.fc i {
    background:#ce2029;
    border-radius:3px;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
}
.fr {
    width:16%;
    float:right;
    margin-top:5px;
    margin-right:10px;
}
.fr a {
    background:#444;
    border: 1px solid #343434;
    border-radius: 3px;
    color: #fff;
    float: right;
    font-size: 16px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 65px;
}
.yuan-number {
    background:#f1f1f1;
    margin:0 auto;
    width:95%;
    color: #FF6633;
    font-size:18px;
    font-family:'微软雅黑';
    line-height:30px;
    border-radius:5px;
}
.hide_btn {
    float:right;
    margin-right:10px;
    color:#666666;
    line-height:34px;
}
.yuan-tips {
    margin:0 auto;
    width:95%;
    color: #333;
    font-size:15px;
    font-family:'微软雅黑';
    line-height:40px;
}
.zhifubox {
    margin:0 auto;
    width:95%;
    height:40px;
    color: #333;
    font-size:16px;
    font-family:'微软雅黑';
    padding-top:0px;
    line-height:40px;
    text-align:center;
}
.zhifubtn {
    margin:0 auto;
    width:99%;
    background:#FF6600;
    border:1px solid #FF9900;
    text-decoration:none;
    color:#FFFFFF;
    float:left;
    position:relative;
    bottom:0px;
    border-radius:5px;
}
.form1 {
    width:95%;
    margin:0 auto;
    margin-top:5px;
}
.form1 select {
    width:95%;
    height:35px;
    margin-bottom:10px;
    padding-left:5px;
    font-size:16px;
    line-height:35px;

}
.form1 input {
    width:98.3%;
    height:35px;
    margin-bottom:10px;
    padding-left:5px;
    font-size:16px;
    color: #7F7F7F;
    border:1px solid #ccc;
}
.shanbibox {
    width:95%;
    margin:0 auto;
}
.shanbinumber {
    width:76%;
    float:left;
    height:25px;
    line-height:25px;
    font-size:16px;
    font-family:'微软雅黑';
    margin-bottom:5px;
}
.refrush {
    float:right;
    height:25px;
    line-height:25px;
    border:1px solid #ccc;
    background:#FFFFFF;
    border-radius:5px;
    color:#000000;
    width:50px;
    text-align:center;
    margin-bottom:5px;
    font-size:14px;
}
.refrush:hover{ background:#ce2029; color:#FFFFFF; border:1px solid #ce2020;}
.content {
    display:none;
    font-size:14px;
}
.margin-left10 {
    margin-left:10px;
}
.marginf-left10 {
    float:left;
    margin-left:10px;
    margin-right:32px;
}
.topdivdeline{border-top:1px solid  #E0E0E0;}
.t5{margin-top:5px;}


#fullbg {
    background-color:#000;
    left:0;
    opacity:0.5;
    position:absolute;
    top:0;
    bottom:0;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity:0.5;
}
.dialog{background:#fefcf0; border:1px solid #d5d4cf; height:200px; width:300px; margin:0 auto; margin-top:-36%; position:relative; z-index:9999; display:none; }
.dialog-title{position:absolute; top:5px; left:10px; color:#df7112;font-size:14px; font-weight:700; border-bottom:1px solid #d5d4cf; width:95%; padding-bottom:5px; line-height:30px;}
.dialog-content{position:absolute; top:50px; text-align:center; padding:15px;}
.dialog-btn-box{  border: 1px solid #ded298; bottom: 30px;color: #000000; height: 30px;left: 7%; line-height: 30px; margin: 0 auto; position: absolute;text-align: center;width: 86%; background:#fff4c6;}
.dialog-btn-box:hover{ background:#FF9933; }
.dialog-btn-box a{ float:left;width:100%; height:100%; color:#9e8e7f;}
.dialog-btn-box a:hover{color:#fff;}
.content-box{margin:30px auto; width:80%; background:#FDFBCA; border:1px solid #EDEF85;}

.chongzhi-box{font-size:16px; font-weight:700; text-align:center; height:48px; line-height:48px; padding:5px;}
.chongzhi-box-text{height:48px; line-height:48px; position:relative;top:-18px;}
