<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta content="telephone=no" name="format-detection" />
<link rel="stylesheet" id="mylink" href="<?php echo $viewspath;?>css/for_1000.css" type="text/css">












<script type="text/javascript" language="javascript" src="<?php echo $viewspath;?>js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" language="javascript" src="<?php echo $viewspath;?>js/top_nav.js"></script>
<title>3卓网中心</title>
<script type="text/javascript">
		
		gaibian();	
		window.onresize = gaibian;

		function gaibian(){
			var kuandu = document.documentElement.clientWidth; //浏览器的宽度
			if(kuandu > 600){
				document.getElementById("mylink").href = "<?php echo $viewspath;?>css/for_1000.css";
			}else{
				document.getElementById("mylink").href = "<?php echo $viewspath;?>css/for_400.css";
			}
		}
	</script>
</head>

<body>

<div class="sanzhuo-head">
  
    
      <div class="sanzhuo-pclogo"><img width="80%" height="25" src="<?php echo $viewspath;?>images/pc-logo.png"></div>
	  
	     
	
    
</div>




    <div style="border:none;" id="abc"class="tang-pass-reg">
      
        <h2>忘记密码</h2>
   
      <form action="<?php echo base_url('index.php/forpassword/index');?>" method="post" class="registerform sign-form" accept-charset="utf-8">
        <table>
          <tbody><tr>
            <td class="user" style="position:absolute;top:-2px;">邮箱</td>
            <td width="70%" style="position:absolute;left:50px;top:-5px"><input type="text" value="" class="inputxt" name="email">
            </td>
            <td>&nbsp;</td>
          </tr>
        <tr>
            <td class="user" style="position:absolute;top:70px;">用户名</td>
            <td width="70%"style="position:absolute;left:50px;top:65px"><input type="text" value="" class="inputxt" name="username">
            </td>
            <td></td>
          </tr>
            <tr><td class="user" style="position:absolute;top:140px;">验证码</td>
            <td width="70%" style="position:absolute;left:50px;top:130px"><input type="text" value="" placeholder="输入验证码" name="code" class="pass-text-input form-code">
             <img alt="点击刷新验证码" title="点击刷新验证码" id="captcha"  onclick="$('#captcha').attr('src','<?php echo base_url('index.php/forpassword/captcha');?>'+'/'+Math.random())"  src="<?php echo base_url('index.php/forpassword/captcha');?>" style="position:absolute;margin-left:30px;">
            <td></td>
          </tr>
		   <tr>
		  <td></td>
		  <td width="110%" id="tdtd" ><p style="font-size:12px;color:red">*如遇到问题请联系客服，电话010-82615089
</p></td>
		  <td></td>
		  </tr>
		  <tr>
		  <td></td>
		  <td width="50%" id="find"><p><input type="submit" style="width:100%;height:35px;font-size:14px; color:#FFFFFF; background:#ce2029;" value="找回" class="user-btn"></p></td>
		  <td></td>
		  </tr>
		 
        </tbody></table>
         <p class="reg-btn">
      

        </p>
		
         </form>
    </div>
	
	
	

            



			
      
        
        

   
 
	
	  
</body>
</html>
