<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta content="telephone=no" name="format-detection" />
<link rel="stylesheet" type="text/css" href="css/css.css"/>
<link rel="stylesheet" type="text/css" href="css/select.css"/>
<link rel="stylesheet" type="text/css" href="css/login.css"/>
<script type="text/javascript" language="javascript" src="js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" language="javascript" src="js/top_nav.js"></script>
<title>3卓网发号中心</title>
</head>
<body>
<div class="mtzrl_box">
  <div class="mtzrl_header">
        <h1 class="m_logo2"><a href="fahao.html"></a></h1>
    <p class="header_title">礼包详情</p>
   
  </div>
    <div id="nav-box"  class="nav-box"><ul><li ><a href="zhanghao.html">账户</a></li>
    <li><a href="#">充值</a></li><li class="on"><a href="fahao.html">礼包</a></li>
    <li><a href="#">论坛</a></li></ul></div>    
  <div class="job_menu">
    <ul>
      <li data-id="1" class="job_default"><a href="fahao.html" style="display:block;color:#ff330b;">礼包列表</a></li>
      <li data-id="2" > <a href="cunhao.html" style="display:block;">存号箱</a> </li>
    </ul>
  </div>
  <div class="hot_com">
    <ul>
      <li> 
      
        <dl>
          <dt> <img src="images/icon1.png" width="60" height="60" style="float:left;"/><span style="margin-left:5px;" > [热血问战] 新手礼包</span> </dt>
          <dt style="font-size:0.9em;"> <span style="margin-left:5px;"> 剩余情况:</span> <span style=" color:#FF6600; margin-left:5px;">35%</span> </dt>
          <dt style=" clear:both; margin-top:15px;"> 
          <a href="fahaoxiangxi.html" style=" padding:4px; background:#FF6600; text-align:center; color:#FFFFFF; border-radius:5px;"> 领号 </a></dt>
        </dl>
        </li>
    </ul>
  </div>
  <div class="hot_com">
    <ul>
      <li><a href="#">
        <dl>
          <dt style="margin-bottom:10px;"> <span style="border-left:5px solid  #FF9900; padding-left:5px; margin-bottom:8px;"> 礼包内容：</span> </dt>
          <dt style="font-size:0.9em;">热血问战春节礼包1 </dt>
          <dt style="font-size:0.9em;">使用有效期：<span> 2014-04-11至2014-05-111</span> </dt>
        </dl>
        </a></li>
    </ul>
    <ul>
      <li><a href="#">
        <dl>
          <dt style="margin-bottom:10px;"> <span style="border-left:5px solid  #FF9900; padding-left:5px; margin-bottom:8px;"> 使用方法：</span> </dt>
          <dt style="font-size:0.9em;">热血问战春节礼包2 1 </dt>
        </dl>
        </a></li>
    </ul>
  </div>
  <div class="job_pages">
    <!-- AspNetPager V7.1 for VS2005 & VS2008  Copyright:2003-2007 Webdiyer (www.webdiyer.com) -->
    <div id="AspNetPager1" class="previous_next"> <a disabled="disabled" style="margin-right:5px;">上一页</a><a class="previous_next" href="search.aspx@pageindex=2" style="margin-right:5px;">下一页</a> </div>
    <!-- AspNetPager V7.1 for VS2005 & VS2008 End -->
    <div class="footer">
      <ul class="copyright">
        <li> 北京闪卓互动科技有限公司 版权所有 </li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>
