<!--{template common/header}-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" id="win8mi_diy" href="template/win8mi_2nd_shuzi/src/img/portaldiy.css?{VERHASH}" />

<script src="template/win8mi_2nd_shuzi/src/js/superslide.2.1.js" type="text/javascript"></script>

<style id="diy_style" type="text/css"></style>

<div class="wp" style="_margin-right: -40px;">
   <!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
</div>

<script src="misc.php?mod=diyhelp&action=get&type=index&diy=yes&r={echo random(4)}" type="text/javascript"></script>
<!--{template common/footer}-->
